# see README for information on env variables

ETHERSCAN_V2_API_KEY=
USE_CACHE=true
REDIS_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
MIGRATION_WEBHOOK_URL=
GASLESS_WEBHOOK_URL=
GASLESS_DISABLED=false
DASHBOARD_PASSWORD=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_SUBGRAPH_API_KEY=
NEXT_PUBLIC_RPC_ARBITRUM_TESTNET=
NEXT_PUBLIC_PROXY_ORIGIN=https://staging-proxy.sky.money
TENDERLY_API_KEY=
TENDERLY_MAINNET_FORK_VNET_ID=

# this is used to determine which data sources (subgraphs and GitHub repos) to use
NEXT_PUBLIC_VERCEL_ENV=development
